{% extends 'layout.html.twig' %}
{% trans_default_domain 'index' %}
{% block page_title %}
	{{ 'access.denied' | trans }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">

			<h1 class="text-center">
				{{ 'access.denied.title' | trans }}
			</h1>

			<p>
				{{ 'access.denied.message' | trans }}
			</p>

			<p>Vous allez être <b>redirigé dans 5 secondes...</b></p>
		</div>
	</div>
{% endblock %}

{% block final_javascripts %}
	{{ parent() }}
	<script>
		window.setTimeout(function() {
			window.location.href = '/';
		}, 5000);
	</script>
{% endblock %}
