{% extends "layout.html.twig" %}
{% trans_default_domain 'admin' %}
{% set active = 'admin' %}

{% block page_title %}
    Admin
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ admin.title | trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}

{% endblock %}
